@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webkit scrollbar for Chrome, Edge, Safari */
#categories-section {
  ::-webkit-scrollbar {
    height: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #f97316;
    /* Tailwind orange-500 */
    border-radius: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
}